<!-- <div class="row mt-4">
  <div class="col-md-6">
    <div class="row" style="height: 450px;">
      <div class="col-md-12 my-auto side-header">
        <img src="/assets/images/Registration.png" width="75%" class="mx-auto d-block" alt="">
        <h1>User Registration</h1>
        <p><em>-Using <strong>Asp.Net Core Web Api</strong> and Angular 7</em></p>
      </div>
    </div>
  </div>
  <div class="col-md-6"> -->
<div class="col-md-5 my-auto side-header">
  <img src="/assets/images/Registration.png" width="25%" height="25%" class="mx-auto d-block" alt="">
  <h1>User Registration</h1>
</div>
<div class="col-md-5">
  <form [formGroup]="service.formModel" autocomplete="off" id="regForm" (submit)="onSubmit()">
    <div class="form-group required">
      <label>UserName</label>
      <input class="form-control" formControlName="UserName">
      <label class="text-danger"
        *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This
        field
        is required.</label>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" formControlName="Email">
      <label class="text-danger"
        *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email
        address.</label>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input class="form-control" formControlName="PhoneNumber">
    </div>
    <div class="form-group">
      <label>Full Name</label>
      <input class="form-control" formControlName="FullName">
    </div>
    <div formGroupName="Passwords">
      <div class="form-group required">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
          field is required.</label>
        <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
          4 characters required.</label>
      </div>
      <div class="form-group required">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="ConfirmPassword">
        <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
          field is required.</label>
        <label class="text-danger"
          *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
          Passwords does not match</label>
      </div>
    </div>
    <!-- <div style="margin:2rem" class="form-row col-lg-12"> -->
      Please choose an avatar
      <div class="form-group">
        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar1">
        <img height="50px" width="50px" src="../../assets/images/myavatar1.png">

        <input type="radio" formControlName="Avatar" checked name="Avatar" value="avatar2">
        <img height="50px" width="50px" src="../../assets/images/myavatar2.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar3">
        <img height="50px" width="50px" src="../../assets/images/myavatar3.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar4">
        <img height="50px" width="50px" src="../../assets/images/myavatar4.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar5">
        <img height="50px" width="50px" src="../../assets/images/myavatar5.png">
        <br>
        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar6">
        <img height="50px" width="50px" src="../../assets/images/myavatar6.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar7">
        <img height="50px" width="50px" src="../../assets/images/myavatar7.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar8">
        <img height="50px" width="50px" src="../../assets/images/myavatar8.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar9">
        <img height="50px" width="50px" src="../../assets/images/myavatar9.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar10">
        <img height="50px" width="50px" src="../../assets/images/myavatar10.png">

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar11">
        <img height="50px" width="50px" src="../../assets/images/myavatar11.png">   

        <input type="radio" formControlName="Avatar" name="Avatar" value="avatar12">
        <img height="50px" width="50px" src="../../assets/images/myavatar12.png">  
      </div>
    <!-- </div> -->
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block btn-success" [disabled]="!service.formModel.valid">
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>


<!-- </div>
</div> -->