<div class="wrapper">
<div class="row">
  <div class="col-md-12">
    <h1 class="card">
      About Us
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6 border bg-light">
    <p>Welcome to Rubix Systems. Rubix is a multi-tiered platform the caters to companies in need of a cloud based solution for their business.</p>
  </div>
  <div class="col-md-6 border bg-light">
    <p>Please reach out to our 24 hour customer service to learn how we can transform your business overnight.</p>
  </div>  
</div>
</div>