<div class="row">
  <div class="col col-sm-6">
    <div class="mx-auto" style="width:100%;text-align: center">
      <div class="card m-5" style="text-align: left" *ngIf="userDetails">
        <div class="card-text text-bold font-weight-bold" style="text-align:center">
          Welcome {{userDetails.fullName}}!
        </div>
        <div class="card-body" style="text-align:center">
          <img src="../../assets/images/my{{userDetails.avatar}}.png" class="img-fluid" alt="">
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Username:</strong> {{userDetails.userName}}
          </li>
          <li class="list-group-item">
            <strong>Full Name:</strong> {{userDetails.fullName}}
          </li>
          <li class="list-group-item">
            <strong>Email:</strong> {{userDetails.email}}
          </li>
          <li class="list-group-item">
            <strong>Phone:</strong> {{userDetails.phoneNumber}}
          </li>
          <li class="list-group-item">
              <strong>Gaming Credits:</strong> 99
            </li>          
        </ul>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="mx-auto" style="width:100%;text-align:center;height:83%">
      <div class="card m-5" style="text-align: left" *ngIf="userDetails">
        <div class="card-text text-bold font-weight-bold" style="text-align:center">
          <div class="card-body">
            <img src="https://www.xtechamericas.com/media/banner-blog-gaming-1.jpg" class="img-fluid" alt="">
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              Compete against other players all over the world...
            </li>
            <li class="list-group-item">
                Lorem Ipsum...
              </li>
              <li class="list-group-item">
                  Lorem Ipsum...
              </li>
              <li class="list-group-item">
                  Lorem Ipsum...
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-6">
    <div class="mx-auto" style="width:100%;text-align:center;height:83%">
      <div class="card m-5" style="text-align: left" *ngIf="userDetails">
        <div class="card-text text-bold font-weight-bold" style="text-align:center">
          <div class="card-body">
            <img
              src="https://www.jabil.com/content/dam/images/asset-images/networking-hero.jpg.transform/pageHero/image..jpg"
              class="img-fluid" alt="">
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              First Class Gaming Networking...
            </li>
            <li class="list-group-item">
              Lorem Ipsum...
            </li>
            <li class="list-group-item">
              Lorem Ipsum...
            </li>
            <li class="list-group-item">
              Lorem Ipsum...
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="mx-auto" style="width:100%;text-align:center;height:83%">
      <div class="card m-5" style="text-align: left" *ngIf="userDetails">
        <div class="card-text text-bold font-weight-bold" style="text-align:center">
          <div class="card-body">
            <img src="http://www.pngall.com/wp-content/uploads/2/Killzone-Transparent.png" class="img-fluid" alt="">
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              Buy the latest and coolest games on the market before everybody else!
            </li>
            <li class="list-group-item">
              Lorem Ipsum...
            </li>
            <li class="list-group-item">
              Lorem Ipsum...
            </li>
            <li class="list-group-item">
              Lorem Ipsum...
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>