<div class="row">
  <div class="col-md-12">
    <h1>USER ADMINISTRATION</h1>
  </div>
</div>
<div class="row" style="margin-top:1em">
  <div class="col-md-12">
    <div class="card font-weight-bold">
      Manage Users | Current User: {{userDetails.userName | uppercase}}
    </div>
    <div class="card">
      <table  class="table-striped ">
        <tr style="border-bottom:1px solid black">
          <th>Use Name</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Avatar</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.userName}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.avatar}}</td>
          <td>{{user.role}}</td>
          <td style="text-align:center"><button class="btn-danger" (click)="deleteUser(user.id,user.userName,userDetails.userName)">x</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>